* {
  box-sizing: border-box;
}
:root {
  --ff-primary: 'Press Start 2P', cursive;
  --ff-secondary: 'Noto Serif', serif;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-bg-primary: #316AB2;
  --clr-bg-secondary: #5D439C;
  --clr-font-primary: #FFCB05; 
  --clr-normal: #A8A878;
  --clr-fire: #F08030;
  --clr-water: #6890F0;
  --clr-grass: #78C850;
  --clr-electric: #F8D030;
  --clr-ice: #98D8D8;
  --clr-fighting: #C03028;
  --clr-poison: #A040A0;
  --clr-ground: #E0C068;
  --clr-flying: #A890F0;
  --clr-psychic: #F85888;
  --clr-bug: #A8B820;
  --clr-rock: #B8A038;
  --clr-ghost: #705898; 
  --clr-dark: #705848;
  --clr-dragon: #7038F8;
  --clr-steel: #B8B8D0;
  --clr-fairy: #F0B6BC;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em  rgba(0,0,0,.15);
}
body {
  margin: 0 auto;
  padding: 1rem;
  font-size: 16px;
  font-family: var(--ff-primary);
  background-color: var(--clr-bg-secondary);
}

.header {
  color: var(--clr-font-primary);
  text-align: center;
  line-height: 1.3;
}

.main-content {
  background-color: rgb(224, 224, 224);
  color: var(--clr-bg-secondary);
  border: 1px solid var(--clr-font-primary);
  margin: auto;
  padding-bottom: 1rem;
}

.main-content,
.last-content {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5rem;
  border-radius: 25px;
}

.heading {
  font-size: .8em;
  padding: .5rem; 
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.card-container {
  border-radius: 25px;
  background-color: rgb(224, 224, 224);
}

.cards {
  display: flex;
  box-sizing: border-box;
  padding: .5em;
  margin: 0;
  font-size: .8em;
  width: 100%;
  color: #000;
  font-family: var(--ff-primary)
}

.card {
  padding: .5em;
  border-radius: 15px;
  border: solid 2px #000;
  width: 100%;
}

.team-displayed {
  font-size: 1em;
}

.last-content {
  background-color: var(--clr-bg-secondary);
  margin-top: 1.5em;
  margin-bottom: 3em;
}

.types {
  display: inline-block;
  text-align: left;
  padding-left: .5em;
  font-size: .8em;
  border-style: solid none;
  border-width: 1px;
  border-radius: 5px;
  font-variant: small-caps;
  font-family: var(--ff-primary);
  color: black;
}

.tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(50% - 1em);
  margin-right: .5em;
  margin-left: .5em;
  margin-bottom: 1em;
  padding: .4em;
  line-height: 1.2;
}

/* buttons */

button {
  font-size: .8em;
  text-align: center;
  transition: all .3s;
}

button:hover {
  background-color: var(--clr-bg-secondary);
  color: white;
  border: solid 1px white;
}

.select-types-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.selected-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  font-size: 1em;
  width: 100%;
  max-width: 500px;
}

.pokemon-type {
  display: inline-block;
  padding: .4em;
  margin: .5em;
  width: calc(33% - 1.8em);
  min-width: fit-content;
}

.pokemon-type,
#generate-team,
#start-over,
#randomize {
  border: solid 1px #000;
  border-width: 1px;
  border-radius: 5px;
  font-variant: small-caps;
  font-family: var(--ff-primary);
  color: black;
}

.type-1,
.type-normal {
  background-color: var(--clr-normal);
}

.type-2,
.type-fighting {
  background-color: var(--clr-fighting);
}

.type-3,
.type-flying {
  background-color: var(--clr-flying);
}

.type-4,
.type-poison {
  background-color: var(--clr-poison);
}

.type-5,
.type-ground {
  background-color: var(--clr-ground);
}

.type-6,
.type-rock {
  background-color: var(--clr-rock);
}

.type-7,
.type-bug {
  background-color: var(--clr-bug);
}

.type-8,
.type-ghost {
  background-color: var(--clr-ghost);
}

.type-9,
.type-steel {
  background-color: var(--clr-steel);
}

.type-10,
.type-fire {
  background-color: var(--clr-fire);
}

.type-11,
.type-water {
  background-color: var(--clr-water);
}

.type-12,
.type-grass {
  background-color: var(--clr-grass);
}

.type-13,
.type-electric {
  background-color: var(--clr-electric);
}

.type-14,
.type-psychic {
  background-color: var(--clr-psychic);
}

.type-15,
.type-ice {
  background-color: var(--clr-ice);
}

.type-16,
.type-dragon {
  background-color: var(--clr-dragon);
}

.type-17,
.type-dark {
  background-color: var(--clr-dark);
}

.type-18,
.type-fairy {
  background-color: var(--clr-fairy);
}

.remove {
  margin-left: auto;
  margin-right: .3rem;
  width: 1.1em;
  height: 1.1em;
}

#generate-team,
#start-over,
#randomize {
  font-weight: bold;
  background-color: var(--clr-font-primary);
  margin-bottom: 1em;
  padding: 1em;
  min-width: 156px; 
}

#generate-team:hover,
#start-over:hover,
#randomize:hover {
  background-color: rgb(224, 224, 224);
  border: solid 1px black;
}

.hidden {
  display: none;
}

img[src="https://i.pinimg.com/originals/95/d5/cd/95d5cded00f3a3e8a98fb1eed568aa9f.png"] {
  max-width: 40% !important;
}

/* media */
@media only screen and (min-width: 768px) {

  .header {
    font-size: 2rem;
  }

  .heading {
    font-size: 1em;
  }

  .selected-types {
    max-width: 70%;
  }

  .cards {
    width: 50%;
    padding: .8em;
  }

  .tags {
    padding: .6em;
  }
}

@media only screen and (min-width: 1000px) {
 .main-content {
  max-width: 767px;
  margin: auto;
 }
}
