* {
  box-sizing: border-box;
}
:root {
  --ff-primary: 'Press Start 2P', cursive;
  --ff-secondary: 'Noto Serif', serif;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-bg-primary: #316AB2;
  --clr-bg-secondary: #5D439C;
  --clr-font-primary: #FFCB05; 
  --clr-normal: #A8A878;
  --clr-fire: #F08030;
  --clr-water: #6890F0;
  --clr-grass: #78C850;
  --clr-electric: #F8D030;
  --clr-ice: #98D8D8;
  --clr-fighting: #C03028;
  --clr-poison: #A040A0;
  --clr-ground: #E0C068;
  --clr-flying: #A890F0;
  --clr-psychic: #F85888;
  --clr-bug: #A8B820;
  --clr-rock: #B8A038;
  --clr-ghost: #705898; 
  --clr-dark: #705848;
  --clr-dragon: #7038F8;
  --clr-steel: #B8B8D0;
  --clr-fairy: #F0B6BC;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em  rgba(0,0,0,.15);
}
body {
  margin: 0 auto;
  font-size: 16px;
  font-family: var(--ff-primary);
  background-color: var(--clr-bg-primary);
}

.header {
  color: var(--clr-font-primary);
  text-align: center;
  padding: 1em;
  margin: .5em;
  line-height: 1.3;
}

.main-content {
  background-color: var(--clr-bg-secondary);
  color: var(--clr-font-primary);
  border: 1px solid var(--clr-font-primary);
  margin-left: 3rem;
  margin-right: 3rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.2rem;
}

.main-content,
.last-content {
  text-align: center;
  text-transform: uppercase;
  line-height: 2.5rem;
  border-radius: 25px;
}

.heading {
  font-size: 1.1em; 
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.card-container {
  border-radius: 25px;
  background-color: var(--clr-bg-secondary);
}

.cards {
  display: flex;
  box-sizing: border-box;
  padding: .5em;
  margin: 0;
  font-size: .8em;
  width: 100%;
  color: #000;
  font-family: var(--ff-primary)
}

.card {
  padding: .5em;
  border-radius: 15px;
  border: solid 2px #000;
  width: 100%;
}

.team-displayed {
  font-size: 1em;
}

.last-content {
  background-color: var(--clr-bg-primary);
  margin-top: 1.5em;
  margin-bottom: 3em;
}

.types {
  display: inline-block;
  text-align: left;
  padding-left: .5em;
  font-size: .8em;
  border-style: solid none;
  border-width: 1px;
  border-radius: 5px;
  font-variant: small-caps;
  font-family: var(--ff-primary);
  color: black;
}

.tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(50% - 1em);
  margin-right: .5em;
  margin-left: .5em;
  margin-bottom: 1em;
  padding: .4em;
  line-height: 1.2;
}

/* buttons */

button {
  font-size: .8em;
  text-align: center;
  transition: all .3s;
}

button:hover {
  background-color: var(--clr-bg-primary);
  color: white;
  border: solid 1px white;
}

.select-types-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.selected-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  font-size: 1em;
  width: 100%;
}

.pokemon-type {
  display: inline-block;
  padding: .4em;
  margin: .5em;
  width: 25%;
}

.pokemon-type,
#generate-team,
#start-over {
  border: solid 1px #000;
  border-width: 1px;
  border-radius: 5px;
  font-variant: small-caps;
  font-family: var(--ff-primary);
  color: black;
}

.type-1 {
  background-color: var(--clr-normal);
}

.type-2 {
  background-color: var(--clr-fighting);
}

.type-3 {
  background-color: var(--clr-flying);
}

.type-4 {
  background-color: var(--clr-poison);
}

.type-5 {
  background-color: var(--clr-ground);
}

.type-6 {
  background-color: var(--clr-rock);
}

.type-7 {
  background-color: var(--clr-bug);
}

.type-8 {
  background-color: var(--clr-ghost);
}

.type-9 {
  background-color: var(--clr-steel);
}

.type-10 {
  background-color: var(--clr-fire);
}

.type-11 {
  background-color: var(--clr-water);
}

.type-12 {
  background-color: var(--clr-grass);
}

.type-13 {
  background-color: var(--clr-electric);
}

.type-14 {
  background-color: var(--clr-psychic);
}

.type-15 {
  background-color: var(--clr-ice);
}

.type-16 {
  background-color: var(--clr-dragon);
}

.type-17 {
  background-color: var(--clr-dark);
}

.type-18 {
  background-color: var(--clr-fairy);
}

.remove {
  margin-left: auto;
  margin-right: .3rem;
  width: 1.1em;
  height: 1.1em;
}

#generate-team,
#start-over {
  font-weight: bold;
  background-color: var(--clr-psychic);
  padding: 1em;
  min-width: 156px; 
}

#generate-team:hover,
#start-over:hover {
  background-color: #bd345d;
  border: solid 1px white;
}

.hidden {
  display: none;
}

img[src="https://i.pinimg.com/originals/95/d5/cd/95d5cded00f3a3e8a98fb1eed568aa9f.png"] {
  max-width: 40% !important;
}


/* media */
@media only screen and (min-width: 768px) {
  .main-content {
    max-width: 768px;
    margin: auto;
  }

  .header {
    font-size: 2rem;
  }

  .selected-types {
    max-width: 50%;
    margin: auto;
  }

  .cards {
    width: 50%;
    padding: .8em;
  }
}
